@page "/"
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
