h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.form-horizontal {
    margin: 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    display: grid;
    justify-items: center;
}

.control-label {
    font-weight: bold;
}

.form-group {
    width: 100%;
}

.form-control {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 4px;
}

.text-danger {
    color: red;
}

.col-md-2 {
    width: 20%;
    float: left;
    margin: 15px;
    margin-right: 10px;
}

.col-md-10 {
    width: 78%;
    margin-top: -10px;
    float: left;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

