

.form-horizontal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;  Khoảng cách giữa các cột 
    justify-items: center;  Căn giữa theo chiều ngang 
}

.form-group {
    margin: 10px;  Khoảng cách giữa các phần tử 
    width: 100%;
}

.col-md-10 {
    grid-column: span 3;  Chiếm 3 cột trong grid 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

