@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <p>Demo Project giao diện lấy từ mockup Figma</p>
    <p>Made By TAT <span style="margin-right: 3px;"></span><i class="fas fa-user"></i></p>
</main>