@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <address>
        <abbr title="User"><i class="fas fa-user"></i></abbr><span style="margin-right: 3px;"></span>TAT<br />
        <abbr title="Gmail"><i class="fas fa-envelope"></i></abbr><span style="margin-right: 3px;"></span>anhtuan251104@gmail.com<br />
        <abbr title="Phone"><i class="fas fa-phone"></i></abbr><span style="margin-right: 3px;"></span>086823480
    </address>

    <address>
        <strong>Github:</strong><a href="https://github.com/TATTRAN25/E-commerce/tree/master"><i class="fab fa-github"></i></a><br />
        <strong>Figma:</strong><a href="https://www.figma.com/design/hdblS2HajvmKDQXJ3ASEWl/DSSV-design?node-id=0-1&t=z3h725NcRhIOPTmr-0"><i class="fab fa-figma"></i></a>
    </address>
</main>