@page "/create"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Thêm Sinh Viên</PageTitle>

<h3>Thêm Sinh Viên</h3>

	@* <div class="form-group">
		<label for="MaSoSv">Mã số sinh viên:</label>
		<InputText id="MaSoSv" class="form-control" @bind-Value="createSV.MaSoSv" />
	</div> *@

@code {

}
