body {
}
.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #2196f3;
    color: #fff;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #1976d2;
    }

/* Giao diện chi tiết thông tin */
.info-CuuSinhVien {
    display: flex;
    flex-wrap: wrap;
}

.personal-info {
    flex: 1 100%;
    padding: 20px;
    border: 1px solid #000000;
    display: flex;
    align-items: flex-start; /* Căn giữa theo chiều ngang */
    text-align: left;
}

    .personal-info h2 {
        margin-bottom: 10px;
        padding: 10px;
    }

.personal-horizontal {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.horizontal-row {
    flex: 1 1 33.33%; /* Chia cột thông tin thành 3 cột */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử trong hàng theo chiều dọc */
}

    .horizontal-row dt,
    .horizontal-row dd {
        margin: 0;
        padding: 5px;
        width: 100%;
    }

/* Thông tin chi tiết */
.detail-info {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

    .detail-info h2 {
        margin: 0;
        padding: 10px;
        background-color: #f0f0f0;
    }

.details-horizontal {
    display: flex;
    flex-direction: column;
}

    .details-horizontal dt,
    .details-horizontal dd {
        margin: 0;
        padding: 10px;
    }

    .details-horizontal dt {
        flex-basis: 100%; /* Độ rộng 100% cho nhãn */
    }

    .details-horizontal dd {
        flex-basis: 100%; /* Độ rộng 100% cho nội dung */
    }

/* Thông tin liên lạc và khóa học */
.detail-info, .contact-subin4-container {
    flex: 40% 60%;
}

.contact-subin4-container {
    display: flex;
    flex-wrap: wrap;
    width: 73.8%;
}

.contact-info, .subin4-info {
    flex: 1 1 100%;
    width: 100%;
    border: 1px solid #000000;
    padding: 10px;
}

.contact-info {
    order: 1; 
}

.subin4-info {
    order: 2; 
}

/* Nút ở phần thông tin cá nhân */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s;
    clear: both; /* Đảm bảo nút xuống dưới các cột thông tin */
}

    .button:first-child {
        margin-bottom: 10px; /* Tạo khoảng cách giữa hai nút */
    }

    .button:hover {
        background-color: #00ffff;
    }

.icon-space {
    margin-left: 5px;
}

.back-link {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
    transition: color 0.3s;
    padding: 5px;
}

    .back-link:hover {
        color: #007bff;
    }

.text-errors {
    margin-top: 5px;
    color: #ffc107; /* Màu vàng */
    font-size: 14px;
    font-style: italic;
    border: 1px solid #ffc107; /* Khung xung quanh */
    padding: 5px;
    text-align: center; /* Căn giữa ngang */
}