@page "/edit/{Id:guid}"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject HttpClient Http
@inject NavigationManager Navigation

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

<PageTitle>Sửa Sinh Viên</PageTitle>

<h2>Sửa Sinh Viên</h2>
@if (sv != null)
{
	<div class="info-CuuSinhVien">
		<div class="personal-info">
			<h2><i class="fas fa-user-circle"></i><span class="icon-space">Thông tin cá nhân</span></h2>

			<dl class="personal-horizontal">
				<div class="horizontal-row">
					<dt>Mã số sinh viên</dt>
					<dd>
						<input id="MaSoSv" @bind="sv.MaSoSv" class="form-control" />
					</dd>
				</div>
				<div class="horizontal-row">
					<dt>Họ cựu sinh viên</dt>
					<dd>
						<input id="HoCuuSv" @bind="sv.HoCuuSv" class="form-control" />
					</dd>
				</div>
				<div class="horizontal-row">
					<dt>Tên cựu sinh viên</dt>
					<dd>
						<input id="TenCuuSv" @bind="sv.TenCuuSv" class="form-control" />
					</dd>
				</div>
				<div class="horizontal-row">
					<dt>Họ tên cựu sinh viên</dt>
					<dd>
						<input id="HoTenCuuSv" @bind="sv.HoTenCuuSv" class="form-control" />
					</dd>
				</div>
				<div class="horizontal-row">
					<dt>Mã định danh</dt>
					<dd>
						<input id="MaDinhDanh" @bind="sv.MaDinhDanh" class="form-control" />
					</dd>
				</div>
				<div class="horizontal-row">
					<dt>Giới tính</dt>
					<dd>
						<input id="NgayVaoDoan" @bind="sv.NgayVaoDoan" class="form-control" />
					</dd>
				</div>
				<div class="horizontal-row">
					<dt>Địa chỉ liên hệ</dt>
					<dd>
						<input id="NgayVaoDoan" @bind="sv.NgayVaoDoan" class="form-control" />
					</dd>
				</div>
				<div class="horizontal-row">
					<dt>Số điện thoại</dt>
					<dd>
						<input id="NgayVaoDoan" @bind="sv.NgayVaoDoan" class="form-control" />
					</dd>
				</div>
			</dl>
			<button type="submit" class="btn btn-primary">Thêm Sinh Viên</button>
			<a href="index" class="back-link"><i class="fas fa-arrow-left"></i> Trở lại</a>
		</div>
		<div class="detail-info">
			<h2><i class="fas fa-info-circle"></i><span class="icon-space">Thông tin chi tiết</span></h2>
			<dl class="details-horizontal">
				<dt>Email</dt>

				<dt>Dân tộc</dt>

				<dt>Tôn giáo</dt>

				<dt>Tham gia đảng</dt>

				<dt>Ngày vào đảng</dt>

				<dt>Tham gia đoàn</dt>

				<dt>Ngày vào đoàn</dt>
			</dl>
		</div>

		<div class="contact-course-container">
			<div class="contact-info">
				<h2><i class="fas fa-bookmark"></i><span class="icon-space">Thông tin thêm</span></h2>
				<dl class="personal-horizontal">
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
				</dl>
			</div>
			<div class="course-info">
				<h2><i class="fas fa-book-open"></i><span class="icon-space">Thông tin bổ sung</span></h2>
				<dl class="personal-horizontal">
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
					<div class="horizontal-row">
						<dt></dt>
					</div>
				</dl>
			</div>
		</div>
	</div>

}
@code {
	[Parameter]
	public Guid Id { get; set; }
	private AlumniCuuSv? sv;

	protected override async Task OnInitializedAsync()
	{
		if (Id == Guid.Empty)
		{
			// Xử lý trường hợp không hợp lệ của `Id`
			Navigation.NavigateTo("error");
			return;
		}

		sv = await Http.GetFromJsonAsync<AlumniCuuSv>($"api/cuuSinhVien/{Id}");

		if (sv == null)
		{
			// Xử lý trường hợp không có dữ liệu
			Navigation.NavigateTo("error");
		}
	}

	private async Task HandleValidSubmit()
	{
		try
		{
			var response = await Http.PutAsJsonAsync($"api/cuuSinhVien/{Id}", sv);
			if (response.IsSuccessStatusCode)
			{
				Navigation.NavigateTo("index");
			}
			else
			{
				// Xử lý lỗi
				Console.WriteLine("Cập nhật không thành công: " + response.ReasonPhrase);
			}
		}
		catch (Exception ex)
		{
			// Xử lý lỗi
			Console.WriteLine("Lỗi: " + ex.Message);
		}
	}
}
